@use './variables' as v;

.ml-container{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: 143px 1fr 40px;

    // padding: 10px;

    .ml__header-container{
        // display: grid;
        // grid-template-rows: 2fr 1fr;
    }

    .ml__footer{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: v.$headerFooterBg-Color;

        color: v.$headerFooterFont-Color;
        font-size: 13px;
    }
}